package dk.ku.sund.smartsleep.manager

import com.github.kittinunf.fuel.core.FuelManager

val CLIENT_SECRET = "<INSERT CLIENT SECRET HERE>"
val ADMIN_CREDENTIALS = "<INSERT ADMIN CREDENTIALS HERE>"

fun configure() {
    FuelManager.instance.basePath = "https://<INSERT API URL HERE>"
}
